.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand(href='/') CyanogenMod Downloads
    
.container-fluid
  .row-fluid
    .span2
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Type
            - var types = {};
            - for build in history
              - types[build.type] = build.type;
            - if (currentType == 'all')
              li.active
                a(href='/device/' + currentDevice) all
            - else
              li
                a(href='/device/' + currentDevice) all
            - for type in types
              - if (type)
                - if (currentType == type)
                  li.active
                    a(href='/device/' + currentDevice + '/' + type)=type.replace('CM_', '').toLowerCase()
                - else
                  li
                    a(href='/device/' + currentDevice + '/' + type)=type.replace('CM_', '').toLowerCase()
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Devices
          - if (currentDevice == 'all')
            li.active
              a(href='/device/all/' + currentType) all
          - else
            li
              a(href='/device/all/' + currentType) all
          - for device in devices
            - if (currentDevice == device)
              li.active
                a(href='/device/' + device + '/' + currentType)= device
            - else
              li
                a(href='/device/' + device + '/' + currentType)= device

    .span10
      table.table.table-bordered.table-striped
        thead
          tr
            th Build
            th Device
            th Type
            th Filename
            th Date Added
        tbody
          - for rom in manifest.roms
            - if (rom.device == currentDevice || currentDevice == null || currentDevice == 'all')
              - var build = history[rom.build]
              - var date = new Date(build.timestamp)
              - console.log(build)
              tr
                td= rom.build
                td= rom.device
                td= build.type
                td
                  a(href='https://tickleservice.appspot.com/authorizedtickle?applicationId=ROM Manager&data.url=' + escape(rom.url) + "&data.name=" + rom.name + "&failure_redirect=" + escape('http://rommanager.appspot.com/webconnectfailure.html') + "&success_redirect=" + escape('http://rommanager.appspot.com/webconnectsuccess.html'))
                    img(src='/images/rommanager.png')
                  a(href=rom.url)= build.zip
                td= date.toDateString()
